[Unit]
Description=pinkcandy qqbot
After=network.target


[Service]

# 工作目录
WorkingDirectory=/home/PINKCANDY_QQbot/bot

# 启动
# ExecStart=/usr/bin/python3 /home/PINKCANDY_QQbot/bot/main.py
Environment=PATH=/home/PINKCANDY_QQbot/bot/venv/bin:$PATH
ExecStart=/home/PINKCANDY_QQbot/bot/venv/bin/python /home/PINKCANDY_QQbot/bot/main.py

# 重启
Restart=always
RestartSec=10s


[Install]
WantedBy=multi-user.target
